{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Admin Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Utilizadores registados', 'admin.registered_users',
                                    description='Ver e gerir contas de utilizadores', icon='users icon') }}
                {{ dashboard_option('Adicionar novo utilizador', 'admin.new_user',
                                    description='Criar uma nova conta de utilizador', icon='add user icon') }}
                {{ dashboard_option('Convidar novos utilizadores', 'admin.invite_user',
                                    description='Convida um novo utilizador para criar sua própria conta', icon='add user icon') }}
                {{ dashboard_option('Pacientes registados', 'admin.registered_patients',
                                    description='Ver e gerir informações dos pacientes', icon='users icon') }}
                {{ dashboard_option('Adicionar novo paciente', 'admin.new_patient',
                                    description='Ver e gerir informações dos pacientes', icon='users icon') }}
                {{ dashboard_option('Listar Submissões', 'admin.listed_subs',
                                    description='Ver Submissiões', icon='users icon') }}                    
            </div>
        </div>
    </div>
{% endblock %}